.footer{
  position:fixed;
  bottom:0;
  width:100%;
  height:50px;
  background-color:black;
  text-align:center;
  color:white;
}
.table td {
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}